name: Build and Deploy Go Application

on:
  push:
    branches:
      - release

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Create .env file
        run: echo "$ENV_FILE_CONTENT" > .env
      
      - name: Build Go Application
        run: ./scripts/build.sh

      - name: Build Docker Image and Run Container
        run: ./scripts/docker-build.sh

